# Data Exploratory Notebook
### Rhea Soil Nutrient Prediction Challenge

Start here:

Looking at distribution of train & test data
* location
* depth
* soil nutrients

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

from src.config import DATA_DIR, ZINDI_DATA_DIR

In [29]:
train_df = pd.read_csv(os.path.join(ZINDI_DATA_DIR, "Train.csv"))
test_df = pd.read_csv(os.path.join(ZINDI_DATA_DIR, "TestSet.csv"))
print(f"Train data shape: {train_df.shape}")
print(f"Test data shape: {test_df.shape}")
print(f"Column names: {train_df.columns}")

# merge dfs
train_df["dataset"] = "train"
test_df["dataset"] = "test"
df = pd.concat([train_df, test_df]).reset_index()

Train data shape: (44298, 25)
Test data shape: (6070, 17)
Column names: Index(['ID', 'Longitude', 'Latitude', 'start_date', 'end_date',
       'horizon_lower', 'horizon_upper', 'Depth_cm', 'Al', 'B', 'Ca',
       'C_organic', 'C_total', 'Cu', 'electrical_conductivity', 'Fe', 'Mg',
       'Mn', 'N', 'ph', 'P', 'K', 'Na', 'S', 'Zn'],
      dtype='str')

## Geographic distribution & measurement depth

In [31]:
## start here

,index,ID,Longitude,Latitude,start_date,end_date,horizon_lower,horizon_upper,Depth_cm,Al,...,Target_Cu,Target_Fe,Target_K,Target_Mg,Target_Mn,Target_N,Target_Na,Target_P,Target_S,Target_Zn
0,0,O2TONM,35.18756,-8.62390,01/01/2008,31/12/2018,50.0,20.0,20-50,1109.856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,BQLUK6,35.18558,-8.62300,01/01/2008,31/12/2018,50.0,20.0,20-50,1168.364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,LSET8M,35.18579,-8.62221,01/01/2008,31/12/2018,50.0,20.0,20-50,1137.113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,LEEL7I,35.18266,-8.62177,01/01/2008,31/12/2018,50.0,20.0,20-50,1117.349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,LDNGO2,35.12984,-8.62005,01/01/2008,31/12/2018,50.0,20.0,20-50,1219.203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50363,6065,YSP8V5,5.41523,10.64689,NaN,NaN,NaN,NaN,0-20,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50364,6066,T2I1P5,5.58718,9.05414,NaN,NaN,NaN,NaN,0-20,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50365,6067,HBG2O0,8.65287,8.38496,NaN,NaN,NaN,NaN,0-20,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50366,6068,1UWDEP,5.32360,9.55153,NaN,NaN,NaN,NaN,0-20,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50367,6069,6X4QRD,6.07467,9.46883,NaN,NaN,NaN,NaN,0-20,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0